<app-template-a title="Commande" subtitle="Ajout">
 <app-form-order (clicked)="openUpdateModal($event)"></app-form-order>
</app-template-a>

<!-- <app-template-a title="Commande" subtitle="Ajout">
  <app-form-order *ngIf="order$ |async as item" [order]="item" (clicked)="openUpdateModal($event)">
  </app-form-order>
</app-template-a> -->


<ng-template #createOrderModal let-modal>
  <app-modal title="Confirmer Modification" (dismissed)="dismissModal()">
    <div class="modal-body">
      Etes vous sûr de vouloir valider cette nouvelle commande ?
    </div>

    <div class="modal-footer">
      <app-btn [action]="true" (clicked)="dismissModal()" label="Annuler"></app-btn>
      <app-btn [action]="true" (clicked)="addOrder(modalValues)" label="Valider"></app-btn>

    </div>

  </app-modal>

</ng-template>
